.env
.env.*
*.log

# secretos / certificados
*.key
*.pem
*.pfx
*.crt

# configs reales
application-prod.yml
appsettings.Production.json

# temporales
tmp/
.cache/

# artefactos no propios de infra
*.jar
*.zip
publish/
target/
bin/
obj/
